
@{
    ViewBag.Title = "Index";
}
@TempData["CerMsg"]
<h2>This is Student Index</h2>
<button><a href="~/S_Student/Logout" class="btn btn-warning">Logout</a></button>
<button><a href="~/S_Student/PaymentHistory" class="btn btn-warning">Payment History</a></button>
<button><a href="~/S_Student/EnrollCourses" class="btn btn-warning">Courses</a></button>


