
@{
    ViewBag.Title = "Login";
}

<center>
    <h2>Student Login</h2>
    @TempData["msg"]
    <form action="" method="post">


        <input type="email" class="form-control" name="Email" placeholder="Email" /><br />

        <input type="password" class="form-control" name="Password" placeholder="Password" /><br />



        <input type="submit" value="Login" class="btn btn-primary" />
    </form>
</center>

