
@{
    ViewBag.Title = "Transaction";
}

<center>
    <h2>Transaction</h2>
 
    <form action="" method="post">

        <input type="text" class="form-control" name="StudentId" placeholder="your Student Id" /><br />
        <input type="text" class="form-control" name="CourseId" placeholder="course Id You want to buy" /><br />
        <input type="text" class="form-control" name="BkashTransactionNumber" placeholder="Enter transaction number" /><br />
        <input type="text" class="form-control" name="CreditedAmount" placeholder="Enter transacted amount" /><br />



        <input type="submit" value="Register" class="btn btn-primary" />
    </form>
</center>

