
@{
    ViewBag.Title = "UploadAssignment";
}

<h2>UploadAssignment</h2>

<center>
   
   
    <form action="" method="post">

        <input type="text" class="form-control" name="Answer" placeholder="Drive link / Answer" /><br />
        


        <input type="submit" value="Register" class="btn btn-primary" />
    </form>
</center>