
@{
    ViewBag.Title = "VideoConference";
}

<h2>VideoConference</h2>
<ol>

   

        <li>
            <b> Today's Topic of discussion:</b>@Model.Details
            <br />
            <button><a href=" @Model.MeetLink" class="btn btn-warning">Click here to join meeting</a></button>

            <br />
            <br />

        </li>

    
</ol>

